
.imgbg {
    text-align: center;
    background-image: url('./bean.jpg');
    height: 25vh;
    /* width: 100%; */
    align-content: center;
    background-size: 'cover'; 
    background-repeat: 'no-repeat';
    margin: 0 auto;
    color: antiquewhite;
    
     }

 .overlay{
    height: 25vh;
    width: 100%;
    padding-top: 40px;
    padding-right: 5%;
    background: linear-gradient(
      rgba(0,0,0,0.5),
      rgba(0,0,0,0.5)
    ) 
    
   }

.body{
       margin-top: 6%;
       display: flex;
       text-align: left;
       justify-content: space-around;
       margin-bottom: 0.9%;
}
.imgflex{
       display: flex;
       
}
.imgg{
       border-radius: 6px;
       width:400px;
       height: 300px;
}

.spann{
    color:#5F9EA0;
    /* font-weight: 400; */
    font-family: 'Cookie',cursive;
    width: 113%;
    height: 113%;
    background-color: rgb(218, 237, 238); 
}
   
.spaniv{
    text-align: left;
    padding-top: 35px;
    padding-left: 58px;
    width: 51%;
    height: 114%;
    background-color: rgb(218, 237, 238); 
    
    }

 