.bdy{
    margin:auto;
}

.searchimg {
    text-align: center;
    background-image: url('./key.jpg');
    height: 25vh;
    /* width: 100%; */
    align-content: center;
    background-size: 'cover'; 
    background-repeat: 'no-repeat';
    margin: 0 auto;
    color: antiquewhite;
    
     }

 .overlayy{
    height: 25vh;
    width: 100%;
    padding-top: 45px;
    padding-left: 25%;
    background: linear-gradient(
      rgba(0,0,0,0.5),
      rgba(0,0,0,0.5)
    ) 
    
   }

.inputdiv{
    width:70%;
}
.result{
    margin-top: 1%;
    width:900px;
    height:70%;
    padding: 4%;
    margin-left: 17%;
}

.scroll{
    width: 800px;
    height: 350px;
     overflow: scroll;
     padding-top:20px;
}

/* .nullresponse{
    padding-right: 30%;
} */